<!-- NEWSLETTER -->
<aside class="newsletter">
    <div class="max-container">
        <header class="news-header">
            <img src="/arquivos/icon_newsletter.png" alt="newsletter" class="news-img" />
            <p>Receba as nossas Novidades e Promoções</p>
        </header>
        <form class="news-input">
            <input type="text" name="name" id="news-name" placeholder="Nome" />
            <input type="email" name="email" id="news-email" placeholder="E-mail" />
            <button type="submit" class="btn-send-news">Enviar</button>
        </form>
    </div>
</aside>

<!-- FOOTER LINKS -->
<footer class="main-footer">
    <div class="max-container">
        <div class="footer-part">
            <a href="/" class="logo-footer">
                <img src="/arquivos/logo_rodape.png" alt="logo" />
            </a>
            <ul class="info">
                <li>
                    <img src="/arquivos/icon_tel_rodape.png" alt="telefone" />
                    <p>(31) 3296-5050 / 0800-2834784</p>
                </li>
                <li>
                    <img src="/arquivos/icon_email_rodape.png" alt="email" />
                    <p>vendas@ortodente.com</p>
                </li>
                <li>
                    <img src="/arquivos/icon_local_rodape.png" alt="endereco" />
                    <p>R. Paulo Afonso, 146 - Loja 10 - Santo Antônio, Belo Horizonte.</p>
                </li>
            </ul>
            <a href="https://web.facebook.com/dentalortodente/" class="icon-social" target="_blank">
                <img src="/arquivos/icon_facebook_rodape.png" alt="facebook" />
            </a>
            <a href="https://www.instagram.com/ortodente/" class="icon-social" target="_blank">
                <img src="/arquivos/icon_instagram_rodape.png" alt="Instagram" />
            </a>
        </div>
        <div class="footer-part">
            <ul class="dep-links">
                <h3>INSTITUCIONAL</h3>
                <li>
                    <a href="/institucional/sobre-a-empresa">
                        Sobre a Empresa
                    </a>
                </li>
                <li>
                    <a href="/institucional/seguranca">
                        Segurança
                    </a>
                </li>
                <li>
                    <a href="/institucional/politica">
                        Política
                    </a>
                </li>
                <li>
                    <a href="/institucional/trocas-e-devolucoes">
                        Trocas e devoluções
                    </a>
                </li>
                <li>
                    <a href="/institucional/fale-conosco">
                        Fale Conosco
                    </a>
                </li>
                <li>
                    <a href="/institucional/duvidas">
                        Dúvidas
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer-part">
            <div class="dep-links">
                <h3>PAGAMENTO</h3>

                <div class="pagamento">
                    <img src="/arquivos/rodape_band_visa.gif" alt="visa" />
                    <img src="/arquivos/rodape_pag_boleto.png" alt="Boleto" />
                </div>

            </div>
        </div>
        <div class="footer-part">
            <div class="dep-links">
                <h3>CERTIFICAÇÕES</h3>

                <div class="certificacoes">
                    <img src="/arquivos/selo_fcontrol.png" alt="Fcontrol" />
                    <img src="/arquivos/selo_thawte.png" alt="Thawte" />
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- FOOTER VINCI -->
<footer class="footer-vinci">
    <div class="max-container">
        <div class="text">
            <p>Copyright ® - Todos os direitos reservados.</p>
            <p>Preços e condições de pagamento válidos exclusivamente para compras efetuadas no site, não valendo necessariamente para a rede de lojas físicas.</p>
            <p>As imagens dos produtos são meramente ilustrativas. Todos os preços e condições comerciais estão sujeitos a alteração sem prévio aviso.
            </p>
        </div>
        <div class="img">
            <img src="/arquivos/logo_vinci.png" alt="vinci" />
        </div>
    </div>
</footer>