<!-- TOPBAR -->
<div class="topbar">
    <div class="max-container">

        <div class="contacts">
            <a href="tel:0800-283 4784">
                <img src="/arquivos/icon_sac.png" alt="phone" /> 0800-283 4784
            </a>
            <a href="mailto:sac@ortodente.com">
                <img src="/arquivos/icon_email.png" alt="email" /> sac@ortodente.com
            </a>
        </div>

        <div class="social">
            <a href="">
                <img src="/arquivos/icon_facebook_topo.png" alt="facebook" />
            </a>
            <a href="">
                <img src="/arquivos/icon_instagram_topo.png" alt="instagram" />
            </a>
            <a href="">
                <img src="/arquivos/icon_youtube_topo.png" alt="youtube" />
            </a>
            <a href="">
                <img src="/arquivos/icon_blog_topo.png" alt="blog" />
            </a>
        </div>

    </div>
</div>

<!-- MAIN HEAD -->
<header class="main-head">
    <div class="max-container">
        <a href="/" class="logo-top">
            <img src="/arquivos/logo_topo_branco.png" alt="logo" />
        </a>
        <div class="search-container">
            <vtex.cmc:fullTextSearchBox/>
        </div>
        <div class="profile-container">
            <a href="/account" class="profile-login">
                <img src="/arquivos/icon_login_branco.png" alt="login" />
                <p>
                    <strong> Seja Bem-Vindo</strong> Fazer login | Cadastrar
                </p>
            </a>
            <a href="/checkout" class="profile-cart">
                <img src="/arquivos/icon_carrinho_branco.png" alt="Cart" />
                <span class="mini-cart-qty-admake">0</span>
            </a>

            <!-- CARRINHO -->
            <div class="minicart-container">
                <div id="mini-cart-admake-aux" class="hidden">
                    <vtex.cmc:miniCart />
                    <vtex.cmc:AmountItemsInCart />
                </div>
                <!-- #mini-cart-admake-aux -->
                <div id="mini-cart-admake">
                    <div class="carrinho-header">
                        <div class="carrinho-title">Produtos no meu carrinho</div>
                    </div>
                    <div class="mini-cart-itens">
                        <!-- recebe itens -->
                    </div>
                    <div class="mini-cart-footer">
                        <div class="mini-cart-totais">
                            <strong id="mini-cart-admake-total" class="pull-right">R$ 0,00</strong>
                            <span>Subtotal</span>
                        </div>
                    </div>
                    <div class="mini-cart-botao">
                        <a href="/checkout/#/cart" class="btn btn-block btn-verde btn-finalizar-compra">Finalizar Pedido</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</header>

<!-- NAV MENU -->
<nav class="main-menu">
    <ul class="max-container">
        <li class="menu-item container-allmenu">
            <a href="http://infinityorthodontics.com.br/">
                <div class="img-container">
                    <img src="/arquivos/menu-icone.png" alt="infinitey" />
                </div>
                <p>Todas as Categorias</p>
            </a>
            <div class="allmenu">
                <ul class="max-container"></ul>
            </div>
        </li>
        <span class="hidden menu-reference"></span>
        <li class="menu-item infinity">
            <a href="http://infinityorthodontics.com.br/">
                <div class="img-container">
                    <img src="/arquivos/icon_infinity.png" alt="infinitey" />
                </div>
                <p>Infinity</p>
            </a>
        </li>
        <li class="menu-item brix">
            <a href="http://infinityorthodontics.com.br/">
                <img src="/arquivos/icon_brix.png" alt="brix" />
            </a>
        </li>
    </ul>
</nav>