@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
*,
body {
    font-family: 'Lato', sans-serif;
}


/*header*/

.topo {
    background: #3096f3;
    padding: 15px 0;
}

.topo img {
    display: block;
    margin: 0 auto;
    max-width: 150px;
}

.default-modal-body,
.default-modal,
.default-modal i:before {
    background: #3096f3;
    color: white;
}

.default-modal-body .btn {
    color: #3096f3 !important;
    background: #fff !important;
}

footer.main-footer {
    background: #f5f5f5;
    padding: 20px 0;
}


/*********************************
************* PADRAO *************
*********************************/

body {
    padding: 0 !important;
    font-size: 16px;
}

.max-container {
    width: calc(100% - 30px);
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none !important;
}

.table thead th {
    vertical-align: bottom;
    color: #fff;
    letter-spacing: 1px;
}

td.product-name a {
    color: #333 !important;
    font-size: 16px;
}

i::before {
    color: #3096f3;
}

.cart-more-options.span7 {
    margin: 0;
}

.onda-v1 .mw5 {
    max-width: 16rem;
    font-weight: 300;
    letter-spacing: 1px;
}

button,
.btn {
    background: #3096f3 !important;
    color: #fff !important;
    border-radius: 0 !important;
    padding: 0px 20px !important;
    font-weight: 300 !important;
    border: 0 !important;
    letter-spacing: 1px;
    box-shadow: none !important;
    font-size: 18px !important;
    height: 40px !important;
    line-height: 40px !important;
}

.onda-v1 .black-60 {
    color: #000 !important;
}

.full-cart .summary-totalizers .empty {
    width: 40px;
    display: none !important;
}

.full-cart .summary-totalizers .monetary {
    padding: 8px 0;
    text-align: right !important;
}

.full-cart .summary-totalizers .info {
    text-align: right;
    font-weight: 300 !important;
}

p.coupon-data {
    text-align: right !important;
}

p.coupon-data a {
    color: #000;
}

h1 {
    color: #000 !important;
}

.link-choose-more-products {
    margin-right: 15px;
    color: #3096f3 !important;
    border: 2px solid #3096f3;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    padding: 0px 15px;
    vertical-align: middle;
}

.client-pre-email .btn-success {
    height: calc(100% - 4px) !important;
}


/**********************************************************
****************** DEPARTAMENT LINKS **********************
**********************************************************/

.main-footer .max-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.main-footer .footer-part {
    flex: 1;
    box-sizing: border-box;
}

.main-footer .footer-part+.footer-part {
    margin-left: 15px;
}

.logo-footer {
    margin-bottom: 15px;
    display: block;
}

.info {
    width: 300px;
}

.info li {
    padding: 10px 0;
}

.info p {
    width: 235px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #9f9f9f;
}

.icon-social {
    margin-right: 10px;
    margin-top: 15px;
    display: inline-block;
}

.dep-links h3 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #515151;
    letter-spacing: 1.5px;
}

.dep-links a {
    font-size: 17px;
    letter-spacing: 1.5px;
    color: #0096ff;
    text-decoration: none;
    display: block;
    line-height: 28px;
    text-align: left;
}

.pagamento img {
    margin-left: 5px;
}

.certificacoes img {
    display: block;
    margin: 40px 0;
}


/**********************************************************
****************** FOOTER VINCI **************************
**********************************************************/

.footer-vinci {
    background: #1863bf;
    padding: 20px 0;
    color: white;
    font-size: 12px;
    line-height: 19px;
}

.footer-vinci .max-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-vinci img {
    filter: brightness(0) invert(1);
}


/**********************************************************
****************** MEDIA QUERY 991 ************************
**********************************************************/

@media all and (max-width:991px) {
    .main-footer .max-container,
    .news-header,
    .newsletter .max-container,
    .news-input,
    .footer-vinci .max-container {
        flex-direction: column;
        align-items: center;
    }
    .news-input {
        margin-top: 10px;
        width: 300px;
    }
    .btn-send-news {
        width: 100%;
        height: 40px;
    }
    .news-input input {
        margin: 5px auto;
        box-sizing: border-box;
    }
    .logo-footer,
    .main-footer .footer-part,
    .dep-links a,
    .news-header p,
    .footer-vinci .max-container {
        text-align: center;
    }
    .footer-vinci .max-container {
        max-width: 400px;
    }
    .certificacoes img {
        margin: 40px auto;
    }
    .footer-vinci img {
        margin-top: 20px;
    }
    .main-footer .footer-part+.footer-part {
        margin: 0 auto;
    }
    body .container {
        padding: 0px 15px !important;
    }
}