p.searchResultsTime,
fieldset.filterBy,
p.compare,
.sub:last-child,
h6.filtro-mobile,
.menu-navegue {
    display: none
}

.max-container.departamento {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap
}

aside.department-title {
    margin: 10px auto;
    width: 100%;
}

.bread-crumb li {
    display: inline-block
}

.bread-crumb li a {
    color: #A2A2A2;
    font-size: 14px;
}

.bread-crumb li.last a {
    color: #000;
}

.bread-crumb li+li::before {
    content: ">>";
    display: inline-block;
    vertical-align: middle;
    font-family: 'fonte-medium';
    font-size: 14px;
    margin-right: 5px;
    color: #8798A4;
}

.department-link {
    flex-grow: 1;
    flex: 1.2;
    position: relative;
    padding-right: 15px;
    margin-top: 80px;
    max-width: 225px;
}

.search-single-navigator h3 a,
.search-single-navigator>h5 {
    color: #202020;
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 5px;
    border-bottom: 2px solid #cacaca;
    margin-bottom: 15px;
}

.search-single-navigator h3 a::before {
    display: none
}

.search-single-navigator a {
    color: #000;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 14px;
    display: block;
}

.search-single-navigator a::before {
    content: '';
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid transparent;
    margin-right: 5px;
    cursor: pointer;
}

ul.pages .first,
ul.pages .last {
    display: none
}

ul.pages {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
}

ul.pages .page-number {
    background: #f5f5f5;
    display: block;
    width: 25px;
    text-align: center;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #474747;
    border-radius: 100%;
}

fieldset.orderBy {
    position: absolute;
    top: 0;
    left: 10px;
}

.pager.bottom .pages {
    position: static;
    margin-bottom: 50px;
    margin-top: 50px;
}

.pager.top {
    /* display: none */
    margin-left: auto;
    display: block;
}

ul.pages .pgCurrent {
    background: #0097FA;
    color: white;
}

.page-number+.page-number {
    margin-left: 7px
}

ul.pages .previous {
    font-size: 0;
    display: block;
    width: 1px;
    height: 0px;
    border-right: 10px solid #00000094;
    border-bottom: 10px solid transparent;
    border-top: 10px solid transparent;
    margin-right: 10px;
}

ul.pages .next {
    font-size: 0;
    display: block;
    width: 1px;
    height: 0px;
    border-left: 10px solid #00000094;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    margin-left: 10px;
}

.department-products {
    flex-grow: 2;
    flex: 4;
    padding-left: 15px;
    position: relative;
    padding-top: 60px;
}

fieldset.orderBy label {
    color: #474747;
    font-size: 15px;
}

select#O {
    border: 1px solid #474747;
    padding: 5px;
    color: #474747;
    font-weight: 400;
    font-size: 12px;
    background: white;
}

select#O option {
    color: #BEBEBE;
    font-family: 'fonte-medium'
}

.vitrine.resultItemsWrapper {
    margin-top: 58px
}

.sub {
    text-align: left;
}

.vitrine .vitrine .prateleira {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

h2.titulo-sessao {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #3e3e3e;
    text-transform: uppercase;
    border-bottom: 2px solid #07befd;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

@media all and (max-width: 991px) {
    .max-container.departamento {
        flex-direction: column;
        align-items: center
    }
    .department-products {
        padding: 0;
        padding-top: 50px;
    }
    .toggler-busca {
        display: block;
        text-align: center;
        height: 50px;
        line-height: 50px;
        width: 100%;
        background: #0097FA;
        font-weight: 300;
        text-transform: uppercase;
        font-size: 18px;
        color: #ffffff
    }
    .department-link {
        position: fixed;
        width: 100%;
        left: 0;
        height: 100%;
        background: white;
        z-index: 50;
        bottom: calc(-100% + 50px);
        margin: 0;
        box-sizing: border-box;
        max-width: unset;
        padding: 0;
        transition: 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275)
    }
    .department-link.active {
        bottom: 0
    }
    .department-reference {
        padding: 20px 15px;
        box-sizing: border-box
    }
}

@media all and (max-width: 767px) {
    .vitrine .vitrine .prateleira {
        display: grid;
        grid-template-columns: 1fr 1fr
    }
}

@media all and (max-width: 567px) {
    .vitrine .vitrine .prateleira {
        display: grid;
        grid-template-columns: 1fr
    }
    .bread-crumb li a {
        font-size: 12px
    }
    fieldset.orderBy {
        display: none;
    }
    .pager.top .pages {
        right: 50%;
        transform: translateX(50%);
    }
    aside.department-title {
        margin-bottom: 30px;
    }
}