@charset "utf-8";
.main-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

.input-container input {
    width: 100%;
    border: 1px solid #ccc;
    height: 45px;
    padding: 0px 15px;
    box-sizing: border-box;
}

.input-container label {
    color: #474747;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 5px;
}

.input-container label span {
    font-weight: 400;
    font-size: 10px;
}

.input-container:not(.required) {
    opacity: 0.7;
}

textarea {
    padding: 5px 15px;
    border: 1px solid #ccc;
    height: 150px;
    width: 100%;
    box-sizing: border-box;
}

.main-form button {
    padding: 4px 0;
    display: block;
    margin: 5px 0px;
    font-size: 15px;
    border: 0;
    text-transform: uppercase;
    text-align: center;
    background: #1863bf;
    color: #fff;
    height: 45px;
    width: 200px;
    margin: 0 auto;
    top: -80px;
    position: relative;
}

@media all and (max-width:991px) {
    .main-form {
        grid-template-columns: 1fr;
    }
    .main-form button {
        top: 0;
    }
}