@charset "utf-8";

/**********************************************************
******************** FOOTER *******************************
**********************************************************/

.newsletter {
    background: #1863bf;
    padding: 15px 0;
}

.newsletter .max-container,
.news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-header p {
    font-size: 18px;
    color: #fff;
    margin: 0 30px;
    max-width: 240px;
}

.news-input {
    display: flex;
    flex: 1;
    max-width: 600px;
}

.news-input input {
    padding: 0px 10px;
    height: 35px;
    font-size: 12px;
    text-align: left;
    color: #474747;
    background: #ffffff;
    margin-right: 10px;
    border: 0;
    width: 100%;
}

.btn-send-news {
    background: #1b3d67;
    border: 0;
    box-sizing: border-box;
    padding: 0;
    color: #fff;
    line-height: 15px;
    min-width: 100px;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 15px;
    transition: 0.3s;
}

.btn-send-news:hover {
    background: #19539a;
    color: #fff;
}


/**********************************************************
****************** DEPARTAMENT LINKS **********************
**********************************************************/

.main-footer .max-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}

.main-footer .footer-part {
    flex: 1;
    box-sizing: border-box;
}

.main-footer .footer-part+.footer-part {
    margin-left: 15px;
}

.logo-footer {
    margin-bottom: 15px;
    display: block;
}

.info {
    width: 300px;
}

.info li {
    padding: 10px 0;
}

.info p {
    width: 235px;
    vertical-align: middle;
    display: inline-block;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 700;
    color: #9f9f9f;
}

.icon-social {
    margin-right: 10px;
    margin-top: 15px;
    display: inline-block;
}

.dep-links h3 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    color: #515151;
    letter-spacing: 1.5px;
}

.dep-links a {
    font-size: 17px;
    letter-spacing: 1.5px;
    color: #0096ff;
    text-decoration: none;
    display: block;
    line-height: 28px;
    text-align: left;
}

.pagamento img {
    margin-left: 5px;
}

.certificacoes img {
    display: block;
    margin: 40px 0;
}


/**********************************************************
****************** FOOTER VINCI **************************
**********************************************************/

.footer-vinci {
    background: #1863bf;
    padding: 20px 0;
    color: white;
    font-size: 12px;
    line-height: 19px;
}

.footer-vinci .max-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-vinci img {
    filter: brightness(0) invert(1);
}


/**********************************************************
****************** MEDIA QUERY 991 ************************
**********************************************************/

@media all and (max-width:991px) {
    .main-footer .max-container,
    .news-header,
    .newsletter .max-container,
    .news-input,
    .footer-vinci .max-container {
        flex-direction: column;
        align-items: center;
    }
    .news-input {
        margin-top: 10px;
        width: 300px;
    }
    .btn-send-news {
        width: 100%;
        height: 40px;
    }
    .news-input input {
        margin: 5px auto;
        box-sizing: border-box;
    }
    .logo-footer,
    .main-footer .footer-part,
    .dep-links a,
    .news-header p,
    .footer-vinci .max-container {
        text-align: center;
    }
    .footer-vinci .max-container {
        max-width: 400px;
    }
    .certificacoes img {
        margin: 40px auto;
    }
    .footer-vinci img {
        margin-top: 20px;
    }
    .main-footer .footer-part+.footer-part {
        margin: 0 auto;
    }
}