@charset "utf-8";
.inst-container {
    margin: 50px auto;
}

.inst-title {
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1.5px;
    color: #3e3e3e;
    text-transform: uppercase;
    border-bottom: 2px solid #07befd;
    margin-bottom: 20px;
    padding-bottom: 5px;
}

.inst-container strong {
    font-weight: 700;
}

.inst-container p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #333;
}

.inst-container h2 {
    font-weight: 700;
    font-size: 14px;
    margin: 10px 0;
    color: #333;
}

.inst-container h2.duvida {
    text-transform: uppercase;
    margin: 20px 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.1;
}

.inst-container ul,
.inst-container li {
    list-style: disc;
}

.inst-container li {
    font-size: 12px;
    margin-left: 40px;
    color: #333;
}

.space {
    display: inline-block;
    padding: 0px 20px;
}

.duvida-container span {
    border-radius: 5px;
    cursor: pointer;
    line-height: 45px;
    margin-bottom: 10px;
    padding: 0 10px;
    background: #326aa9;
    color: #ffffff;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s;
}

.duvida-container span.active {
    background: #eaeaea;
    color: #474747;
}

.duvida-container span.active i {
    color: #474747;
}

.duvida-text {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: none;
    line-height: 22px;
    margin: 10px 0;
    padding: 15px;
    overflow: hidden;
    box-sizing: border-box;
}