@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --theme-color-1: #3096f3;
    --theme-color-2: #1863bf;
    --theme-color-3: #a50b62;
    --theme-color-4: #980406;
    --theme-color-5: #291f2f;
    --theme-color-6: #4A4951;
    --theme-color-7: #FFFBF6;
    --theme-color-8: #E79824;
    --theme-color-9: #563e64;
    --theme-color-10: #666;
    --theme-color-11: #999999;
}

.close-login {
    position: fixed;
    z-index: 9999999999;
    bottom: 50px;
    left: 50%;
    margin-left: -15px;
    width: 30px;
    height: 30px;
}

.close-login img {
    filter: brightness(100);
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*icons*/

i.vtexid-icon-mail,
.vtexid-icon-facebook,
.vtexid-icon-google-plus,
.vtexid-icon-lock {
    display: none;
}


/*footer*/

.vtexIdUI .modal-footer {
    background: transparent !important;
    border: 0 !important;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}


/*seta voltar*/

.vtexid-icon-arrow-left:before {
    content: "\e600";
    color: var(--theme-color-2);
    vertical-align: text-bottom;
}

a.vtexIdUI-back-link {
    color: var(--theme-color-7);
    font-weight: 500;
    margin: 0 !important;
    margin-top: 20px !important;
    text-transform: uppercase;
    letter-spacing: 1px !important;
}

a.vtexIdUI-back-link i:before {
    color: white;
}


/*container*/

.vtexIdUI {
    background: transparent !important;
    border: 0 !important;
    box-shadow: none !important;
    top: 45% !important;
    margin: 0 auto !important;
    left: 0 !important;
    right: 0 !important;
    width: calc(100% - 15px) !important;
    transform: translateY(-50%) !important;
    max-width: 400px !important;
    overflow: unset !important;
}

.vtexIdUI .modal-body {
    background: unset !important;
    max-height: unset !important;
    padding: 0 !important;
}

.vtexIdUI .modal-header {
    background: unset !important;
    border: 0 !important;
    padding: 0 !important;
    text-align: center !important;
}


/*buttons*/

.vtexIdUI .btn {
    font-weight: 300 !important;
    font-weight: unset !important;
    text-shadow: unset !important;
    font-size: 20px !important;
    letter-spacing: 1px !important;
    border: 0 !important;
    height: 50px !important;
    line-height: 50px;
    padding: 0 !important;
    border-radius: 0 !important;
    text-transform: uppercase !important;
    box-shadow: none !important;
    background: var(--theme-color-2) !important;
    color: var(--theme-color-7) !important;
    float: unset !important;
    width: 100%;
    display: block;
}

input {
    outline: none !important;
}


/*inputs*/

input {
    border: 2px solid var(--theme-color-2) !important;
    box-shadow: none !important;
    border-radius: unset !important;
    padding: 0px 10px !important;
    height: 50px !important;
    font-weight: 300 !important;
    font-size: 20px !important;
    color: var(--theme-color-5) !important;
}


/*background*/

div#vtexIdContainer {
    background: var(--theme-color-1) !important;
}


/*header buttons*/

.vtexIdUI-heading {
    color: var(--theme-color-5) !important;
    font-weight: 400 !important;
    font-size: 0 !important;
}

.vtexIdUI-heading::after {
    font-size: 20px !important;
    letter-spacing: 1px !important;
}

.vtexIdUI-heading::before {
    display: block;
    content: "";
    width: 200px !important;
    height: 100px !important;
    background: url("/arquivos/logo_topo_branco.png") no-repeat;
    background-position: center !important;
    background-size: contain !important;
    margin: 0 auto !important;
    margin-bottom: 20px !important;
}

.vtexIdUI-heading {
    margin: 0 !important;
    margin-bottom: 20px !important;
}


/*input de codigo de email*/

.vtexIdUI .vtexIdUI-auth-code .vtexIdUI-code-field {
    margin: 0 auto;
    width: 100%;
    margin: 20px 0;
}

.vtexIdUI .vtexIdUI-auth-code .info-code {
    color: var(--theme-color-5);
    margin-bottom: 4px;
    font-weight: 500;
    font-size: 16px;
    font-weight: unset !important;
}


/*email e senha links*/

div#vtexIdUI-classic-login a {
    color: var(--theme-color-7) !important;
    font-size: 15px !important;
    font-weight: 300 !important;
    margin-bottom: 20px !important;
}

div#vtexIdUI-classic-login .control-label {
    font-weight: 500;
    color: var(--theme-color-7);
    font-size: 18px !important;
    text-transform: uppercase;
}


/*recuperar senha a*/

div#vtexIdUI-change-pswd span {
    color: var(--theme-color-2) !important;
    font-size: 18px !important;
    font-weight: 300 !important;
    margin-bottom: 20px !important;
    color: var(--theme-color-2) !important;
    letter-spacing: 1px;
}

.vtexid-icon-user:before {
    content: "\e605";
    color: var(--theme-color-2);
}


/*TELA 1 - TELA INICIAL*/

div#vtexIdUI-auth-selector .vtexIdUI-heading::after {
    content: "Confirmar identidade";
    color: var(--theme-color-7);
}


/*TELA 2 - CONFIRMAÇAO DE EMAIL*/

div#vtexIdUI-email-confirmation .vtexIdUI-heading::after {
    content: "Confirmação de email";
    color: white;
}


/*tela 3 - codigo email*/

div#vtexIdUI-confirm-access-code .vtexIdUI-heading::after {
    content: "Confime seu código por email";
}

div#vtexIdUI-classic-login .vtexIdUI-heading::after {
    content: "Insira seu email e senha";
    color: white;
}

div#vtexIdUI-change-pswd .vtexIdUI-heading::after {
    content: "Mude sua senha";
}

@media all and (max-width: 567px) {
    .vtexIdUI-heading::before {
        display: block;
        content: "";
        /* width: 200px !important; */
        height: 60px !important;
        background: url("/arquivos/logo.png") no-repeat;
        background-position: center !important;
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }
}