.product-image .zoomPad {
    position: relative;
    border: 1px solid #eee;
    margin: 0 auto;
    height: 100%;
}

.product-image .zoomWindow {
    overflow: hidden;
    left: 0 !important;
    border: 1px solid transparent;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    z-index: 3;
}

.product-image .zoomWrapperImage img {
    max-width: none !important;
}

.product-image .zoomWrapperTitle {
    display: none !important;
}

.item_doesnt_exist {
    opacity: 0.3;
    cursor: not-allowed;
}


/**********************************************************
  ******************* PRODUCT CONTAINER *********************
  **********************************************************/

.bg-product {
    background: #ffffff;
}


/**********************************************************
  ********************** BREAD BRUMB ***********************
  **********************************************************/

.bread-brumb>div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 40px;
    border-bottom: 1px solid var(--theme-color-2);
    padding: 0px 10px;
    margin-bottom: 20px;
}

.bread-brumb li::after {
    content: '>>';
    font-weight: 500;
    font-size: 14px;
    color: #A2A2A2;
    padding: 0px 5px;
}

.bread-brumb li.last::after {
    display: none;
}

.bread-brumb li {
    display: inline-block;
    text-transform: capitalize;
}

.bread-brumb li.last a {
    color: #474747;
    font-weight: 700;
}

.bread-brumb a {
    font-weight: 500;
    font-size: 14px;
    color: #A2A2A2;
}


/**********************************************************
  ******************* PRODUCT CONTAINER *********************
  **********************************************************/

.product-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 50px;
}

.product-image {
    flex: 1;
    position: relative;
    text-align: center;
}

.product-info {
    flex: 1;
    max-width: 450px;
    padding-left: 5px;
}

.discount-product {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
}

.discount-product p {
    background: var(--theme-color-1);
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 700;
    color: var(--theme-color-7);
    letter-spacing: 1px;
    padding: 5px 10px;
}


/**********************************************************
  ******************* PRODUCT IMAGE *************************
  **********************************************************/

.product-image #show {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-image #show #include {
    width: 400px;
    height: 400px;
    padding: 10px;
    box-sizing: border-box;
}

.product-image #show .image-zoom,
.product-image #show #image {
    height: 100%;
    display: block;
}

#show #include #image-main {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
    object-fit: contain;
}

ul.thumbs {
    max-width: 350px;
    display: flex;
    justify-content: center;
}

ul.thumbs .owl-next {
    right: -10px;
}

ul.thumbs .owl-prev {
    left: -10px;
}

ul.thumbs li {
    width: 90px;
    height: 90px;
    border: 1px solid var(--theme-color-3);
    padding: 2px;
    box-sizing: border-box;
    margin: 0 auto;
}

ul.thumbs li+li {
    margin-left: 10px;
}

ul.thumbs img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/**********************************************************
  ******************* PRODUCT  BUY INFO *********************
  **********************************************************/

.product-name .productName {
    font-weight: 400;
    font-size: 22px;
    color: #5a5a5a;
    margin-bottom: 10px;
    display: block;
}

.product-ref {
    font-size: 13px;
    color: #b7b4b4;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e4e4e4;
    text-transform: uppercase;
    display: block;
    margin-bottom: 20px;
}

.productReference {
    display: inline;
}

.product-rating {
    margin-bottom: 20px;
}

.product-rating strong {
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-6);
}

.valor-de {
    font-weight: 500;
    font-size: 21px;
    color: var(--theme-color-11);
    text-decoration: line-through;
}

.valor-por {
    font-size: 30px;
    color: #008bbb;
}

.valor-por strong {
    font-weight: 400;
}

.valor-dividido {
    font-weight: 400;
    font-size: 22px;
    color: #8a8a8a;
    margin-bottom: 20px;
    margin-top: 5px;
}

.valor-dividido strong {
    color: #008bbb;
}

.economia-de,
.preco-a-vista {
    display: none !important;
}

.buy-button-box {
    position: relative;
    margin-top: 20px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    max-width: 300px;
}

.buy-button {
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    display: block;
    margin: 8px 0;
    width: 100%;
    max-width: 300px;
    height: 40px;
    line-height: 40px;
    background: #1ed9ab;
    text-align: center;
    text-transform: uppercase;
}

.pull-left {
    float: unset !important;
}

.product-details .sku-selector-container,
.product-details .sku-selector-container ul {
    margin-top: 20px;
}

.sku-selector li.specification {
    font-weight: 700;
    font-size: 32px;
    color: #000;
}

.product-details .box-qtd {
    position: relative;
    height: 30px;
    z-index: 10;
    box-sizing: border-box;
    border: 1px solid #b6b6b6;
    margin-left: 1px;
    width: 100%;
}

.product-details .box-qtd .qtd {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border: 0;
    font-weight: 500;
    font-size: 18px;
    color: var(--theme-color-9);
}

.sku-selector li.specification {
    font-weight: 700;
    font-size: 15px;
    color: var(--theme-color-5);
    text-transform: uppercase;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.product-details .sku-selector input {
    display: none;
}

.product-details .sku-selector label {
    height: 30px;
    line-height: 30px;
    border: 1px solid var(--theme-color-2);
    display: inline-block;
    margin-right: 5px;
    padding: 0px 10px;
    color: var(--theme-color-2);
}

.sku-selector label.sku-picked {
    background: var(--theme-color-2);
    color: var(--theme-color-1);
}

.product-details .box-qtd::before {
    content: "Quantidade";
    font-weight: 500;
    font-size: 14px;
    color: var(--theme-color-1);
    position: absolute;
    left: 0;
    top: -30px;
    display: none;
}

.product-details .box-qtd .btn {
    border: 0;
    padding: 0;
    font-weight: 400;
    font-size: 19px;
    background: #1ed9ab;
    width: 35px;
    text-align: center;
    z-index: 999;
    color: #fff;
}

.product-details .box-qtd .btn-mais {
    position: absolute;
    top: -2px;
    right: -1px;
    height: 32px;
    color: #fff;
}

.product-details .box-qtd .btn-menos {
    position: absolute;
    top: -2px;
    left: -2px;
    height: 31px;
}

.product-details .shipping-box {
    position: relative;
}

.shipping-box p,
.shipping-box .close,
.shipping-box .quantity,
.shipping-box .header {
    display: none;
}

.shipping-box .prefixo {
    font-weight: 400;
    font-size: 15px;
    color: #474747;
    display: inline-block;
}

input#txtCep,
input#txtCep::placeholder {
    display: block;
    height: 35px;
    font-weight: 500;
    font-size: 14px;
    padding: 0px 10px;
    color: #474747;
    box-sizing: border-box;
    margin-top: 5px;
    width: 250px;
    border: 1px solid #474747;
}

#btnFreteSimulacao {
    background: #898989;
    width: 100%;
    max-width: 50px;
    height: 35px;
    border: 0;
    text-transform: uppercase;
    font-weight: 700;
    color: #ffffff;
    font-size: 14px;
    margin-top: 5px;
}

.freight-values table thead {
    display: none;
}

.freight-values table {
    width: 100%;
    margin: 10px 0;
    background: #EBEBEB;
}

.freight-values tbody tr td:last-child {
    display: none;
}

.freight-values tbody tr td {
    background: #EBEBEB;
    color: #636363;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.freight-values tbody tr td:first-child,
.freight-values tbody tr td:nth-child(2) {
    border-right: 1px solid white;
    text-align: center;
}

span.cep-busca a {
    font-weight: 300;
    letter-spacing: 1px;
    color: var(--theme-color-9);
    display: block;
    font-size: 13px;
}


/**********************************************************
  ********************** PRODUCT DESCRIPTION ****************
  **********************************************************/

.descript-title {
    font-size: 20px;
    color: #777;
    text-transform: uppercase;
    border-bottom: 1px solid #777;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.product-description {
    margin-top: 0;
    margin-bottom: 60px;
}

.item-descrip {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.item-descrip li {
    background: #EBEBEB;
    margin-right: 4px;
    height: 40px;
    line-height: 40px;
    width: 260px;
    text-align: center;
    transition: 0.1s;
}

.item-descrip li a {
    color: var(--theme-color-9);
    font-weight: 700;
    font-size: 14px;
}

.product-desc-container {
    background: #fff;
    padding: 20px 0px;
    min-height: unset;
}

.item-descrip li.item-desc-active {
    color: var(--theme-color-1)0;
    font-weight: 700;
    border-bottom: 5px solid var(--theme-color-2);
    background: #fff;
    font-size: 18px;
    padding: 3px 0;
}

ul.item-descrip li.item-desc-active a {
    font-size: 18px;
}

#descricao {
    font-weight: 500;
    font-size: 16px;
    color: #474747;
}

#descricao p+p {
    margin-top: 10px;
}

div#caracteristicas>h4 {
    display: none;
}


/**********************************************************
  ********************** MEDIA QUERY 991PX ******************
  **********************************************************/

@media all and (max-width: 991px) {
    .product-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .product-image {
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .product-info {
        margin: 0 auto;
        text-align: center;
    }
    .avalie-produto {
        top: 250px;
    }
    ul#ulPubliqueResenha {
        top: 300px;
    }
    .buy-button-box {
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
    }
    .box-qtd {
        margin: 0 auto !important;
        margin-bottom: 20px !important;
    }
    .box-qtd::before {
        text-align: center;
        margin: 0 auto;
        right: 0;
    }
    input#txtCep,
    input#txtCep::placeholder {
        max-width: 245px;
    }
}


/**********************************************************
  ********************** MEDIA QUERY 767PX ******************
  **********************************************************/

@media all and (max-width: 767px) {
    .item-descrip {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .item-descrip li {
        margin-right: unset;
        width: 100%;
        margin-bottom: 10px;
    }
    #btnFreteSimulacao {
        display: block;
        width: 100%;
        max-width: 320px;
        margin: 0 auto;
        float: unset;
        transform: unset;
        position: static;
    }
    input#txtCep,
    input#txtCep::placeholder {
        display: block;
        margin: 0 auto;
        max-width: 320px;
        width: 100%;
    }
}


/**********************************************************
  ********************** MEDIA QUERY 567PX ******************
  **********************************************************/

@media all and (max-width: 567px) {
    .shipping-box .prefixo {
        width: 100%;
    }
    .product-image #show #include {
        width: 100%;
        height: auto;
    }
    ul.thumbs li {
        width: 70px;
        height: 70px;
    }
    .product-name .productName {
        font-size: 25px;
    }
    .valor-de {
        font-size: 20px;
    }
    .valor-por {
        font-size: 24px;
    }
    .bread-crumb li a {
        font-size: 12px;
    }
}