@charset "utf-8";

/**********************************************************
******************** CONTAINER TOPBAR *********************
**********************************************************/

.topbar .max-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 0 5px;
}

.topbar .contacts a,
.topbar .contacts img {
    margin-right: 10px;
    color: #444444;
    font-size: 13px;
}

.topbar .social a+a {
    margin-left: 20px;
}

.topbar .social img {
    width: 18px;
    height: 18px;
    object-fit: contain;
}


/**********************************************************
******************** MAIN HEAD ****************************
**********************************************************/

.main-head {
    background: #3096f3;
    padding: 15px 0;
}

.main-head .max-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-head .logo-top {
    margin-right: 30px;
}

.main-head .logo-top img {
    max-width: 220px;
}

.main-head .profile-container,
.main-head .profile-login {
    display: flex;
    align-items: center;
    text-decoration: none;
    position: relative;
}

.main-head .profile-container img {
    max-width: 35px;
}

.main-head .profile-login img,
.main-head .profile-login {
    margin-right: 12px;
}

.main-head .profile-login p {
    font-size: 16px;
    color: white;
}

.main-head .profile-login strong {
    display: block;
    font-size: 16px;
}

.main-head .search-container {
    flex: 1;
    margin-right: 30px;
}

.main-head .search-container .busca {
    background: #fff;
    width: 100%;
    max-width: 450px;
    height: 55px;
    margin: 0 auto;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    overflow: hidden;
}

.main-head .fulltext-search-box {
    height: 100%;
    width: 100%;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    font-weight: 300;
    font-style: italic;
    color: #9e9e9e;
    font-size: 14px;
    padding: 0 15px;
}

.main-head .fulltext-search-box::placeholder {
    color: #9e9e9e;
}

.main-head .btn-buscar {
    position: absolute;
    height: calc(100% - 5px);
    width: 50px;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-49%);
    right: 3px;
    font-size: 0;
    border: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('/arquivos/icon_lupa_branco.png') no-repeat #3096f3;
    background-size: 20px;
    background-position: center;
}

.main-head .profile-cart {
    position: relative;
}

.main-head .mini-cart-qty-admake {
    position: absolute;
    z-index: 50;
    width: 20px;
    height: 20px;
    top: 3px;
    border-radius: 50%;
    line-height: 20px;
    background: white;
    text-align: center;
    color: #3096f3;
    border: 1px solid #c2c2c2;
    font-size: 12px;
}


/**********************************************************
******************** CARRINHO ****************************
**********************************************************/

#mini-cart-admake {
    display: block !important;
}

.carrinho-header {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    color: #545454;
    text-align: left;
    padding: 0 5px;
    letter-spacing: .5px;
    margin-bottom: 5px;
}

.minicart-container {
    position: absolute;
    top: 100%;
    right: 0;
    background: #fff;
    z-index: 99999;
    padding: 10px;
    width: 300px;
    border: 1px solid #d7d7d7;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.profile-cart:hover~.minicart-container,
.minicart-container:hover {
    opacity: 1;
    visibility: visible;
}

.mini-cart-item {
    border-bottom: 1px solid #c2c2c2;
    padding: 10px 0;
    display: flex;
}

.mini-cart-item .imagem img {
    width: 80px;
    height: 80px;
    max-width: unset;
    object-fit: contain;
    border: 1px solid #c2c2c2;
    padding: 5px;
    box-sizing: border-box;
}

.mini-cart-item .detalhes {
    margin-left: 10px;
    width: 100%;
}

.mini-cart-item .detalhes a {
    font-size: 12px;
    width: auto;
    text-align: left;
    color: #7e7e7e;
}

.mini-cart-item .detalhes p {
    line-height: 15px;
}

.qtd-valor {
    font-size: 12px;
    text-transform: uppercase;
    text-align: right;
    white-space: nowrap;
    display: block;
    margin-top: 10px;
    color: #545454;
    font-weight: bold;
    width: 100%;
}

.mini-cart-botao a {
    background: #1863bf;
    display: block;
    padding: 10px;
    text-align: center;
    color: white;
    margin-top: 10px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 13px;
}


/**********************************************************
******************** MAIN MENU ****************************
**********************************************************/

.main-menu {
    position: sticky;
    top: 0;
    background: #1863bf;
    z-index: 500;
    border-bottom: 2px solid white;
}

.main-menu>.max-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-menu .menu-item {
    flex: 1;
    height: 80px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-item .img-container {
    height: 30px;
    margin-top: 10px;
}

.menu-item img {
    display: block;
    margin: 0 auto;
    filter: brightness(0) invert(1);
    transition: 0.3s;
}

.menu-item p {
    display: block;
    font-size: 14px;
    color: #fff;
    margin: 0 auto;
    height: 30px;
    text-align: center;
    padding-top: 10px;
}

li.menu-item.infinity {
    font-weight: bold;
    text-transform: uppercase;
}


/*SUB MENU*/

.allmenu {
    position: absolute;
    top: 100%;
    background: white;
    width: 100%;
    left: 0;
    padding: 5px 0;
    border-bottom: 2px solid #1863bf;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    min-height: 230px;
}

.allmenu .max-container {
    position: relative;
    min-height: 300px;
}

.all-item>a {
    height: 40px;
    line-height: 35px;
    color: white;
    background: #1863bf;
    display: block;
    max-width: 275px;
    border-bottom: 4px solid white;
    padding: 0px 15px;
    box-sizing: border-box;
    font-size: 18px;
}

.sub-menu-all-item-container {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 275px);
    column-count: 3;
    padding: 0px 10px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    height: 100%;
}

.sub-menu-all-item a {
    color: #1863bf;
    font-weight: 400;
    font-size: 15px;
}


/*ANIMAÇÃO ,EMI DESKTOP*/

@media all and (min-width:992px) {
    .main-menu .menu-item:hover {
        background: white;
    }
    .main-menu .menu-item:hover img {
        filter: brightness(1) invert(0);
    }
    .menu-item:hover p {
        color: #3096f3;
    }
    .main-menu .menu-item:first-child {
        filter: unset;
    }
    .main-menu .menu-item:first-child:hover {
        background: #3096f3;
    }
    .main-menu .menu-item:first-child:hover p {
        color: white;
    }
    .all-item:hover .sub-menu-all-item-container {
        opacity: 1;
        visibility: visible;
    }
    .menu-item:hover>.allmenu {
        visibility: visible;
        opacity: 1;
    }
}

@media all and (max-width:991px) {
    .minicart-container {
        display: none;
    }
    .main-head .profile-login,
    .container-allmenu,
    .infinity,
    .brix {
        display: none !important;
    }
    body.menu-open {
        overflow: hidden;
    }
    .main-head .logo-top {
        margin: 0 auto;
    }
    .main-head .max-container {
        flex-wrap: wrap;
    }
    .main-head .search-container .busca {
        max-width: unset;
        height: 40px;
    }
    .main-head .btn-buscar {
        width: 35px;
        background-size: 15px;
    }
    .toggle-menu {
        width: 30px;
    }
    .toggle-menu .line {
        width: 100%;
        height: 3px;
        background: white;
        display: block;
        transition: 0.5s;
    }
    .toggle-menu.active .line-1 {
        transform: rotate(45deg) translate(1px, 6px);
    }
    .toggle-menu.active .line-3 {
        transform: rotate(-45deg) translate(5px, -10px);
    }
    .toggle-menu.active .line-2 {
        opacity: 0;
    }
    .line+.line {
        margin-top: 5px;
    }
    .main-head .search-container {
        width: 100%;
        flex: unset;
        margin: 0 auto;
        margin-top: 20px;
        order: 3;
    }
    .main-head .mini-cart-qty-admake {
        position: relative;
        display: inline-block;
    }
    .main-menu {
        position: fixed;
        top: 0;
        right: -100%;
        height: 100%;
        width: 50%;
        min-width: 300px;
        background: white;
        overflow-y: auto;
        transition: 0.5s;
        border-left: 1px solid #202020;
    }
    .main-menu.active {
        right: 0;
    }
    .main-menu>.max-container {
        flex-direction: column;
        align-items: center;
        padding: 20px 0px 150px;
    }
    .main-menu .menu-item {
        width: 100%;
        height: unset;
        min-height: 50px;
        border-bottom: 1px solid #c2c2c2;
        position: relative;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
    }
    .menu-item p {
        text-align: left;
        color: #202020;
        font-weight: 600;
        padding-top: 16px;
    }
    .main-menu .menu-item>a {
        width: calc(100% - 40px);
        display: block;
        text-align: left;
        padding: 0px 10px;
        box-sizing: border-box;
    }
    .open-sub {
        width: 50px;
        height: 50px;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        right: 0;
        top: 0;
    }
    .open-sub::after {
        content: "";
        border-top: 10px solid #c2c2c2;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        display: block;
        width: 0;
    }
    .sub-menu-all-item-container {
        position: static;
        visibility: visible;
        opacity: 1;
        transition: unset;
        width: 100%;
        column-count: 1;
        display: none;
        background: #fff;
        padding: 10px;
        margin-bottom: 10px;
    }
}

@media all and (max-width:567px) {
    .topbar {
        display: none;
    }
    .main-head .logo-top img {
        max-width: 110px;
    }
    .main-menu {
        min-width: 270px;
    }
}