/****************************************************************
************************* vitrine box ***************************
****************************************************************/

.vitrine-css {
    margin: 30px auto;
}

.box-item {
    margin: 0 auto;
    background: white;
    width: calc(100% - 20px);
    box-sizing: border-box;
    display: block;
    position: relative;
}

.box-item .product-image {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: 250px;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.box-item .product-image img {
    width: 100%;
    height: 100%;
    display: block;
    margin: 0 auto;
    object-fit: contain;
    object-position: center;
}

.box-item .product-name {
    display: block;
    height: 60px;
    overflow: hidden;
    margin-bottom: 10px;
}

.box-item .product-info {
    padding: 0px 15px;
    text-align: center;
}

.box-item .product-name a {
    font-size: 15px;
    font-weight: normal;
    height: 54px;
    margin: 0;
    padding: 0;
    overflow: hidden;
    color: #3e3e3e;
    display: block;
    text-transform: capitalize;
    width: 100%;
}

.box-item .old-price {
    margin: 4px 0 4px 0;
    font-size: 16px;
    color: #8a8a8a;
    text-align: center;
    height: 23px;
    display: block;
    text-decoration: line-through;
}

.box-item .best-price {
    font-size: 22px;
    color: #008bbb;
    text-align: center;
    font-weight: bold;
    display: block;
}

.box-item .installment {
    margin: 4px 0 4px 0;
    font-size: 16px;
    color: #8a8a8a;
    text-align: center;
    display: block;
    height: 23px;
}

.wrapper-buy-button-asynchronous a,
.out-of-stock {
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    height: 30px;
    display: block;
    text-align: center;
    width: 100%;
    background: #1863bf;
    line-height: 30px;
    border: 0;
    color: #ffffff;
}

.box-item:hover .wrapper-buy-button-asynchronous a,
.box-item:hover .out-of-stock {
    visibility: visible;
    opacity: 1;
}

.vitrine-css .owl-controls .owl-buttons>div {
    top: 35%;
}

.vitrine-css .title-vitrine {
    display: flex;
    margin-bottom: 32px;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.vitrine-css .title-vitrine::after {
    content: "";
    display: block;
    width: 100%;
    flex: 1;
    height: 2px;
    background: #07befd;
}

.vitrine-css .title-vitrine p {
    font-weight: 700;
    font-size: 27px;
    text-align: left;
    background: white;
    color: #07befd;
    margin-right: 20px;
}

.vitrine-css .owl-next {
    right: -10px !important;
}

.vitrine-css .owl-prev {
    left: -10px !important;
}

.box-item .discount {
    position: absolute;
    top: 0;
    right: 0;
}

.box-item .discount p {
    background: #1863bf;
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 300;
    color: #ffffff;
    letter-spacing: 1px;
    padding: 5px 10px;
}

.vitrine-css .owl-buttons>div.owl-next {
    right: -35px !important;
}

.vitrine-css .owl-buttons>div.owl-prev {
    left: -35px !important;
}

.box-add-to-shelf {
    position: relative;
    height: 25px;
    margin-bottom: 5px;
}

.shelf-qtd {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    outline: none;
    border: 1px solid #1863bf;
    text-align: center;
}

.shelf-btn-menos,
.shelf-btn-mais {
    position: absolute;
    padding: 0;
    margin: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background: white;
    color: #1863bf;
    font-weight: 700;
}

.shelf-btn-menos {
    border: 1px solid #1863bf;
    left: 0;
}

.shelf-btn-mais {
    border: 1px solid #1863bf;
    right: 0;
}

.modal-shadow {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .5);
    top: 0;
    left: 0;
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.modal-shadow.active {
    opacity: 1;
    visibility: visible;
}

.modal-container {
    background: #f5f5f5;
    border-radius: 10px;
    width: calc(100% - 15px);
    max-width: 400px;
}

.modal-header {
    color: #20202080;
    height: 40px;
    line-height: 40px;
    text-align: center;
    padding: 0px 20px;
    font-weight: 400;
    border-bottom: 1px solid #d4d4d4;
}

.modal-body {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    flex-direction: column;
}

.btn-modal {
    height: 40px;
    display: block;
    line-height: 40px;
    padding: 0;
    margin: 0 8px;
    padding: 0 10px;
    border: 0;
    text-align: center;
    background: #202020;
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
    margin: 5px;
    width: 100%;
    box-sizing: border-box;
}

@media all and (max-width:992px) {
    .vitrine-grid .container-itens .vitrine {
        grid-template-columns: 1fr 1fr 1fr;
    }
    .vitrine-css .owl-buttons>div.owl-next {
        right: -20px!important;
    }
    .vitrine-css .owl-buttons>div.owl-prev {
        left: -20px!important;
    }
}

@media all and (max-width:767px) {
    .vitrine-grid .container-itens .vitrine {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width:567px) {
    .vitrine-grid .container-itens .vitrine {
        grid-template-columns: 1fr;
    }
    .vitrine-css .owl-buttons>div.owl-next {
        right: 0px!important;
    }
    .vitrine-css .owl-buttons>div.owl-prev {
        left: 0px!important;
    }
}